<?xml version="1.0"?>
<XmlSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootAbsoluteDirectory>D:\Invenietis\Dev\Dev4\Deployer</RootAbsoluteDirectory>
  <BackupDirectory>D:\Invenietis\Dev\Dev4\Deployer\Backups</BackupDirectory>
  <LogDirectory>D:\Invenietis\Dev\Dev4\Deployer\Logs</LogDirectory>
  <SerializedDllPaths>
    <string>src/Deployer/bin/Debug/Deployer.Actions.dll</string>
  </SerializedDllPaths>
  <SerializedAssembliesToProcess>
    <string>Deployer.Actions</string>
  </SerializedAssembliesToProcess>
  <ConnectionString>Server=.\SQLSERVER2012;Database=CanalPCR;Integrated Security=SSPI</ConnectionString>
</XmlSettings>